<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT THREE TEMPLATE</title>


    
    <!-- bootstrap and css stylesheet link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

</head>


<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>PROJECT 3: LOAN APPROVAL</h1>
            <h2>---------------------------------------------------</h2>
            <p>Find Out How Much MONEY YOU CAN GET APPROVED!!!! </p>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h2>NEED A LOAN? GET APPROVED IMMEDIATELY!!!</h2>
                <div id="plot"></div>
            </div>
        </div>
    </div>
</body>

<!-- Footer -->

<footer>
    <br>
    <div style="background-color: lightslategrey;">  <a style= "font-style: italic; color: rgb(242, 240, 245);" >Project-3:   Medina, Irene, Wei, Desiree  </a>
        <p>© Copyright Bootcamp 2021</p></div>   
        <hr>
  </div>
  </footer>
           
</footer>


</html>